.div-gradient{
   background: linear-gradient(to right top, #051937, #35255b, #722670, #b31771, #eb125d);
   background-repeat: no-repeat;
   margin: 0;
   padding: 0;
   height: 1200px;   
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

*, .nav-link{
    color: white;
}

div{
    background-color: transparent;
}
